<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_gallery"
        android:label="ResepIn"
        android:roundIcon="@android:drawable/ic_menu_gallery"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResepIn"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.theme.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ui.theme.RegisterActivity" />
        <activity android:name=".ui.theme.PreferenceActivity" />
        <activity
            android:name=".ui.theme.SearchActivity"
            android:exported="false" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".DetailRecipeActivity"
            android:exported="false" />
        <activity android:name=".EditRecipeActivity" />
        <activity android:name=".DetailCategoryActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ui.theme.OtherProfileActivity" />
        <activity android:name=".FollowListActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".ArsipActivity"/>



    </application>

</manifest>