<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="ResepIn"
        android:theme="@style/Theme.ResepIn"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".main.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".profile.PreferenceActivity" />
        <activity
            android:name=".main.SearchActivity"
            android:exported="false" />
        <activity android:name=".main.UploadActivity" />
        <activity android:name=".detail.DetailRecipeActivity"
            android:exported="false" />
        <activity android:name=".main.EditRecipeActivity" />
        <activity android:name=".detail.DetailCategoryActivity" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity android:name=".profile.OtherProfileActivity" />
        <activity android:name=".profile.FollowListActivity"/>
        <activity android:name=".profile.SettingsActivity"/>
        <activity android:name=".profile.ArsipActivity"/>





    </application>

</manifest>